<template>
    <div>
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0 text-dark">Editar Usuario</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="content container-fluid">
            <div class="card">
                <div class="card-header">
                    <div class="card-tools">
                        <router-link class="btn btn-info sm" :to="'/usuario'">
                            <i class="fas fa-arrow-left"></i> Regresar
                        </router-link>
                    </div>
                </div>
                <div class="card-body">
                    <div class="card card-info">
                        <div class="card-header">
                            <h3 class="card-title">
                                Formulario de editar usuario
                            </h3>
                        </div>
                        <div class="card-body">
                            <form role="form">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label for="" class="col-md-3 col-form-label">Primer Nombre</label>
                                            <div class="col-md-9">
                                                <input type="text" class="form-control" v-model="fillEditarUsuario.cPrimerNombre" @keyup.enter="setEditarUsuario()">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label for="" class="col-md-3 col-form-label">Segundo Nombre</label>
                                            <div class="col-md-9">
                                                <input type="text" class="form-control" v-model="fillEditarUsuario.cSegundoNombre" @keyup.enter="setEditarUsuario()">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label for="" class="col-md-3 col-form-label">Apellido</label>
                                            <div class="col-md-9">
                                                <input type="text" class="form-control" v-model="fillEditarUsuario.cApellido" @keyup.enter="setEditarUsuario()">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label for="" class="col-md-3 col-form-label">Usuario</label>
                                            <div class="col-md-9">
                                                <input type="text" class="form-control" v-model="fillEditarUsuario.cUsuario" @keyup.enter="setEditarUsuario()">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label for="" class="col-md-3 col-form-label">Correo Electronico</label>
                                            <div class="col-md-9">
                                                <input type="email" class="form-control" v-model="fillEditarUsuario.cCorreo" @keyup.enter="setEditarUsuario()">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label for="" class="col-md-3 col-form-label">Contraseña</label>
                                            <div class="col-md-9">
                                                <el-input placeholder="Ingresar Contraseña" v-model="fillEditarUsuario.cContrasena" @keyup.enter="setEditarUsuario()" show-password></el-input>
                                                <!-- <input type="password" class="form-control" v-model="fillEditarUsuario.cContrasena" @keyup.enter="setEditarUsuario()"> -->
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label for="" class="col-md-3 col-form-label">Fotografia</label>
                                            <div class="col-md-9">
                                                <input type="file" class="form-control" @change="getFile">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="card-footer">
                            <div class="row">
                                <div class="col-md-4 offset-4">
                                    <button class="btn btn-flat btn-info" @click.prevent="setEditarUsuario()" v-loading.fullscreen.lock="fullscreenLoading">Editar</button>
                                    <button class="btn btn-flat btn-default" @click.prevent="limpiarCristeriosBsq()" >Limpiar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" :class="{ show : modalShow}" :style="modalShow ? mostrarModal : ocultarModal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Sistema laravel and vue</h5>
                        <button class="close" @click="abrirModal"></button>
                    </div>
                    <div class="modal-body">
                        <div class="callout callout-danger" v-for="(item, index) in mensajeError" :key="index" v-text="item"></div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-sencondary" @click="abrirModal">Cerrar</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                fillEditarUsuario:{
                    nIdUsuario: this.$attrs.id,
                    cPrimerNombre:'',
                    cSegundoNombre:'',
                    cApellido:'',
                    cUsuario:'',
                    cCorreo:'',
                    cContrasena:'',
                    oFotografia:''
                },
                form: new FormData,
                fullscreenLoading: false,
                modalShow: false,
                mostrarModal:{
                    display: 'block',
                    background: '#0000006b',
                },
                ocultarModal:{
                    display: 'none',

                },
                error: 0,
                mensajeError:[]

            }
        },
        mounted(){
            this.getUsuarioById()
        },
        methods:{
            getUsuarioById(){
                var url = '/administracion/usuario/getListarUsuarios'
                this.fullscreenLoading = true;
                console.log(this.fillEditarUsuario.nIdUsuario);
                axios.get(url,{
                    params:{
                        'nIdUsuario'   :   this.fillEditarUsuario.nIdUsuario,
                    }
                }).then(response => {
                    console.log(response.data);
                    this.fillEditarUsuario.cPrimerNombre = response.data[0].firstname;
                    this.fillEditarUsuario.cSegundoNombre = response.data[0].secondname;
                    this.fillEditarUsuario.cApellido = response.data[0].lastname;
                    this.fillEditarUsuario.cUsuario = response.data[0].username;
                    this.fillEditarUsuario.cCorreo = response.data[0].email;
                    this.fullscreenLoading = false;
                })
            },
            limpiarCristeriosBsq(){
                this.fillEditarUsuario.cPrimerNombre = '';
                this.fillEditarUsuario.cSegundoNombre = '';
                this.fillEditarUsuario.cApellido = '';
                this.fillEditarUsuario.cUsuario = '';
                this.fillEditarUsuario.cCorreo = '';
                this.fillEditarUsuario.cContrasena = '';
                this.fillEditarUsuario.oFotografia = '';
            },
            abrirModal(){
                this.modalShow = !this.modalShow;
            },
            getFile(e){
                console.log(e);
                this.fillEditarUsuario.oFotografia = e.target.files[0];
            },
            setEditarUsuario(){
                if (this.validarRegistrarUsuario()) {
                    this.modalShow = true;
                    return;
                }
                this.fullscreenLoading = true;
                if (!this.fillEditarUsuario.oFotografia || this.fillEditarUsuario.oFotografia == undefined) {
                    this.setGuardarUsuario(0)
                }else{
                    this.setRegistrarArchivo();
                }
            },
            setRegistrarArchivo(){
                this.form.append('file', this.fillEditarUsuario.oFotografia)
                const config = {headers:{'Content-Type': 'multipart/form-data'}}
                var url = '/archivo/setRegistrarArchivo'
                axios.post(url, this.form,config).then(response =>{
                    console.log(response);
                    var nIdFile = response.data[0].nIdFile;
                    this.setGuardarUsuario(nIdFile);
                })
            },
            setGuardarUsuario(nIdFile){
                var url = '/administracion/usuario/setEditarUsuario'
                axios.post(url,{
                    'nIdUsuario'   :   this.fillEditarUsuario.nIdUsuario,
                    'cPrimerNombre'   :   this.fillEditarUsuario.cPrimerNombre,
                    'cSegundoNombre'  :   this.fillEditarUsuario.cSegundoNombre,
                    'cApellido'       :   this.fillEditarUsuario.cApellido,
                    'cUsuario'        :   this.fillEditarUsuario.cUsuario,
                    'cCorreo'         :   this.fillEditarUsuario.cCorreo,
                    'cContrasena'     :   this.fillEditarUsuario.cContrasena,
                    'oFotografia'     :   nIdFile
                }).then(response =>{
                    console.log('usuario actualizado exitpsamente');
                    this.fullscreenLoading = false;
                    Swal.fire({
                        icon: 'success',
                        title: 'usuario actualizado exitpsamente',
                        showConfirmButton: false,
                        timer: 1500
                    })
                })
            },
            validarRegistrarUsuario(){
                this.error = 0;
                this.mensajeError = [];
                if (!this.fillEditarUsuario.cPrimerNombre) {
                    this.mensajeError.push('El primer nombre es un campo obligatorio');
                }

                if (!this.fillEditarUsuario.cApellido) {
                    this.mensajeError.push('El apellido es un campo obligatorio');
                }
                if (!this.fillEditarUsuario.cUsuario) {
                    this.mensajeError.push('El usuario es un campo obligatorio');
                }
                if (!this.fillEditarUsuario.cCorreo) {
                    this.mensajeError.push('El correo es un campo obligatorio');
                }
                if (this.mensajeError.length) {
                    this.error = 1;
                }

                return this.error;
            }

        }
    }
</script>

<style>

</style>
