<template>
    <div>
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Usuario</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="content container-fluid">
            <div class="card">
                <div class="card-header">
                    <div class="card-tools">
                        <router-link class="btn btn-info sm" :to="'/usuario/crear'">
                            <i class="fas fa-plus-squard"></i> Nuevo usuario
                        </router-link>
                    </div>
                </div>
                <div class="card-body">
                    <div class="card card-info">
                        <div class="card-header">
                            <h3 class="card-title">
                                Criterios de Busqueda
                            </h3>
                        </div>
                        <div class="card-body">
                            <form role="form">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label for="" class="col-md-3 col-form-label">Nombre</label>
                                            <div class="col-md-9">
                                                <input type="text" class="form-control" v-model="fillBsqUsuario.cNombre" @keyup.enter="getListarUsuarios()">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label for="" class="col-md-3 col-form-label">Usuario</label>
                                            <div class="col-md-9">
                                                <input type="text" class="form-control" v-model="fillBsqUsuario.cUsuario" @keyup.enter="getListarUsuarios()">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label for="" class="col-md-3 col-form-label">Correo Electronico</label>
                                            <div class="col-md-9">
                                                <input type="text" class="form-control" v-model="fillBsqUsuario.cCorreo" @keyup.enter="getListarUsuarios()">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label for="" class="col-md-3 col-form-label">Estado</label>
                                            <div class="col-md-9">
                                                <el-select v-model="fillBsqUsuario.cEstado" placeholder="Seleccionar Estado" clearable>
                                                    <el-option
                                                        v-for="item in listEstado"
                                                        :key="item.value"
                                                        :label="item.label"
                                                        :value="item.value">
                                                    </el-option>
                                                </el-select>

                                                <!-- <input type="text" class="form-control"> -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="card-footer">
                            <div class="row">
                                <div class="col-md-4 offset-4">
                                    <button class="btn btn-flat btn-info" @click.prevent="getListarUsuarios()" v-loading.fullscreen.lock="fullscreenLoading">Buscar</button>
                                    <button class="btn btn-flat btn-default" @click.prevent="limpiarCristeriosBsq()" >Limpiar</button>
                                </div>
                            </div>
                        </div>
                        <div class="card card-info">
                            <div class="card-header">
                                <h3 class="card-title">
                                    Bandeja de resultado
                                </h3>
                            </div>
                            <div class="card-body table-responsive">
                                <template v-if="listarUsuariosPaginated.length">
                                    <table class="table table-hover table-head-fixed text-nowrap projects">
                                        <thead>
                                            <tr>
                                                <th>Fotografia</th>
                                                <th>Nombre</th>
                                                <th>Correo</th>
                                                <th>Usuario</th>
                                                <th>Estado</th>
                                                <th>Acciones</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr v-for="(item, index) in listarUsuariosPaginated" :key="index">
                                                <td>
                                                    <template v-if="!item.profile_image">
                                                        <li class="user-block">
                                                            <img :src="item.profile_image" :alt="item.username" class="profile-avatar-img img-fluid img-circle">
                                                        </li>
                                                    </template>
                                                    <template v-else>
                                                        <div>

                                                        </div>
                                                    </template>
                                                </td>
                                                <td v-text="item.fullname"></td>
                                                <td v-text="item.email"></td>
                                                <td v-text="item.username"></td>
                                                <td>
                                                    <template v-if="item.state == 'A'">
                                                        <div>
                                                            <span class="badge badge-success" v-text="item.state_alias"></span>
                                                        </div>
                                                    </template>
                                                    <template v-else>
                                                        <div>
                                                            <span class="badge badge-danger" v-text="item.state_alias"></span>
                                                        </div>
                                                    </template>
                                                </td>
                                                <td>
                                                    <router-link class="btn btn-primary btn-sm btn-flat" :to="'/'">
                                                        <i class="fas fas-folder"></i>Ver
                                                    </router-link>
                                                    <template v-if="item.state == 'A'">
                                                        <router-link class="btn btn-info btn-sm btn-flat" :to="{name:'usuario/editar', params:{id:item.id}}">
                                                            <i class="fas fas-pencil-alt"></i>Editar
                                                        </router-link>
                                                        <router-link class="btn btn-success btn-sm btn-flat" :to="'/'">
                                                            <i class="fas fas-key"></i>Permiso
                                                        </router-link>
                                                        <button class="btn btn-danger btn-sm btn-flat" @click.prevent="setCambiarEstadoUsuario(1, item.id)">
                                                            <i class="fas fas-trash"></i>Desactivar
                                                        </button>
                                                    </template>
                                                    <template v-else>
                                                        <button class="btn btn-success btn-sm btn-flat" @click.prevent="setCambiarEstadoUsuario(2, item.id)">
                                                            <i class="fas fas-check"></i>Activar
                                                        </button>
                                                    </template>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="card-footer clearfix">
                                        <ul class="pagination pagination-sm m-0 float-right">
                                            <li class="page-item" v-if="pageNumber > 0">
                                                <a href="#" class="page-link" @click.prevent="prevPage">Ant</a>
                                            </li>
                                            <li class="page-item" v-for="(page, index) in pageList" :key="index"
                                                :class="[page == pageNumber ? 'active' : '']">
                                                <a href="#" class="page-link" @click.prevent="selectPage(page)" >{{page + 1}}</a>
                                            </li>
                                            <li class="page-item" v-if="pageNumber < pageCount - 1 ">
                                                <a href="#" class="page-link" @click.prevent="nextPage">Post</a>
                                            </li>
                                        </ul>
                                    </div>
                                </template>
                                <template v-else>
                                    <div class="callout callout-info">
                                        <h5>No se encontraron resultados...</h5>
                                    </div>
                                </template>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                fillBsqUsuario:{
                    cNombre:'',
                    cUsuario:'',
                    cCorreo:'',
                    cEstado:''
                },
                listUsuario:[],
                listEstado:[
                    {value:'A',label:'Activo'},
                    {value:'I',label:'Inactivo'},
                ],
                pageNumber: 0,
                perPage: 5,
                fullscreenLoading: false,
            }
        },
        computed:{
            pageCount(){
                let a = this.listUsuario.length,
                    b = this.perPage;
                return Math.ceil(a / b);
            },
            listarUsuariosPaginated(){
                let inicio  = this.pageNumber * this.perPage,
                    fin     = inicio + this.perPage;
                return this.listUsuario.slice(inicio,fin)
            },
            pageList(){
                let a = this.listUsuario.length,
                    b = this.perPage;
                let pageCount = Math.ceil(a / b);
                let count = 0,
                    pageArray = [];

                while (count < pageCount){
                    pageArray.push(count);
                    count++;
                }
                return pageArray;
            }
        },
        methods:{
            limpiarCristeriosBsq(){
                this.fillBsqUsuario.cNombre     = '';
                this.fillBsqUsuario.cUsuario    = '';
                this.fillBsqUsuario.cCorreo     = '';
                this.fillBsqUsuario.cEstado     = '';
            },
            limpiarBandejaUsuario(){
                this.listUsuario    =   [];
            },
            getListarUsuarios(){
                var url = '/administracion/usuario/getListarUsuarios'
                this.fullscreenLoading = true;
                axios.get(url,{
                    params:{
                        'cNombre'   :   this.fillBsqUsuario.cNombre,
                        'cUsuario'  :   this.fillBsqUsuario.cUsuario,
                        'cCorreo'   :   this.fillBsqUsuario.cCorreo,
                        'cEstado'   :   this.fillBsqUsuario.cEstado,
                    }
                }).then(response => {
                    console.log(response.data);
                    this.inicializarPaginacion();
                    this.listUsuario    =   response.data;
                    this.fullscreenLoading = false;
                })
            },
            nextPage(){
                this.pageNumber++;
            },
            prevPage(){
                this.pageNumber--;
            },
            selectPage(page){
                this.pageNumber = page;
            },
            inicializarPaginacion(){
                this.pageNumber = 0;
            },
            setCambiarEstadoUsuario(op, id){
                Swal.fire({
                    title: '¿Esta seguro de ' + ((op == 1) ? 'desactivar' : 'activar') + 'el usuario',
                    icon:'warning',
                    showCancelButton: true,
                    cofirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: ((op == 1) ? 'Si, desactivar' : 'Si, activar')
                }).then((result) =>{
                    this.fullscreenLoading = true;
                    var url = '/administrarcion/usuario/setCambiarEstadoUsuario'

                    axios.post(url,{
                        'nIdUsuario'    : id,
                        'cEstado'       : (op == 1) ? 'I' : 'A'
                    }).then(response =>{
                        Swal.fire({
                            icon: 'success',
                            title: 'Se ' + ((op == 1) ? 'desactivo' : 'activo') + ' el usuario',
                            showConfirmButton: false,
                            timer: 1500
                        })
                        this.getListarUsuarios();
                    })

                })


            }

        }
    }
</script>

<style>

</style>
